@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Karla";
    list-style: none;
    text-decoration: none;
    color: #323A45;

}


body{
    width: 75%;
    margin: 0 auto;
} 

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 0;
}

nav ul {
    display: flex;
}

nav ul li a {
    padding-left: 5rem;
}

nav h3 , footer h3, .singleDescription h3{
    font-weight: 400;
    font-size: 1.25rem;
}

footer h3 {
    text-align: center;
    margin: 5rem 0 2rem 0;
}

.indexGallery, .randomProducts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.indexGallery img, .randomProducts img {
    object-fit: cover;
    width: 100%;
    height: 30rem;
}

.namePrice {
    display: flex;
    justify-content: space-between;
}

.indexGallery figure:nth-of-type(7n+1) {
    grid-column: span 3;
}

.addItemSect h1, .randomHL {
    font-weight: 400;
    text-align: center;
    font-size: 2.25rem;
}

.randomHL {
    margin-bottom: 2rem;
}

.addItemSect hr {
    width: 5rem;
    border: 2px solid #323A45;
    margin: 1rem auto;
}

form {
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
}

input[type=submit] {
    background: rgba(50, 58, 69, .6);
    font-size: 1.25rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

form input[type=text], form input[type=number], textarea {
    background: #E5E5E5;
}

form input, textarea {
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 2rem;
    padding: 1.5rem 1rem;
    text-align: center;
}

::placeholder {
    font-size: 1rem;
    color: rgba(51, 51, 51, .5);
    text-align: center
}

.singleItem img {
    width: 100%;
}

.hide {
    border: 1px solid red;
    display: none;
}

.editBtn {
    background: none;
    border: none;
    font-size: 1rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
}

.editBtn:hover, .delete:hover, footer h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.editBtn:focus, .delete:focus {
    outline: none;
}

.singleDescription {
    margin-top: 3rem;
}

.singleDescription h3 {
    margin-bottom: 1rem;
}

.editSubmit {
    cursor: pointer;
}

.editFlex {
    display: flex;
    justify-content: space-between;
}

.buyBtn {
    padding: 0.938rem 1.875rem;
    border: 1px solid #000;
    margin-top: 2rem;
    display: inline-block;
    
}

.buyBtn:hover {
    background-color: #000;
    color: #fff;
}